<launch>
  <param command="$(find xacro)/xacro $(find balance_robot_description)/urdf/balance_robot.xacro" name="robot_description"/>
  <rosparam file="$(find balance_robot_description)/config/gazebo_ros_control.yaml" command="load" />
  <node args="-param robot_description -urdf -model balance_robot" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
</launch>
