<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!--Start Robot Controller -> diff drive controller -->
    <rosparam command="load" file="$(find balance_robot_description)/config/diff_drive_controller_effort.yaml"  ns="/balance_robot"/>
    <rosparam command="load" file="$(find balance_robot_description)/config/joint_state_controller.yaml"  ns="/balance_robot"/>
    <node name="controller_spawner" ns="/balance_robot" output="screen" pkg="controller_manager" 
        respawn="false" type="spawner" args="diff_drive_controller_effort joint_state_controller"/>
    <!--Not required in diff_drive_controller 
        <rosparam file="$(find balance_robot_description)/config/gazebo_ros_control.yaml" command="load" />-->
    
    <!--Start Robot Position Controller  -->
    <rosparam file="$(find balance_robot_description)/scripts/control_param.yaml" command="load" ns="/balance_robot_control"/>
    <rosparam file="$(find balance_robot_description)/scripts/robot_param.yaml" command="load" ns="/balance_robot_control"/>
    <node pkg="balance_robot_description" type="balance_robot_control" name="balance_robot_control" 
        output="screen">
    </node>

</launch>