<launch>

  <!-- arguments you can pass this launch file, for example paused:=true -->
  <arg name="model" default="$(find balance_robot_description)/urdf/balance_robot_simple.urdf.xacro"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- Launc Gazebo empty_world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description"
		 command="$(find xacro)/xacro --inorder $(arg model)" />
  
  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" respawn="false"
  		args="-urdf -model balance_robot_simple -param robot_description"/>
  
  <!-- convert joint states--> 
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" >
     <!--<remap from="joint_states" to="balance_robot/joint_states" />-->
     <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value=""/>
    </node>
  
  <!--display rviz-->
  <arg default="$(find balance_robot_description)/launch/urdf.rviz" name="rvizconfig"/>
  <node args="-d $(arg rvizconfig)" name="rviz" pkg="rviz" required="true" type="rviz"/>

   
  <!-- ros_control motoman launch file -->
  <!-- <include file="$(find balance_robot_description)/launch/robot_control_diff.launch"/> -->
</launch>
